language: node_js
node_js:
    - "6"
before_install:
    - sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++
    - sudo apt-get install graphviz
install:
    - npm install -g gulp
    - npm install
script:
    - npm run test
after_success:
    - npm run coveralls
